
body {
    background-color: powderblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-stretch: semi-expanded;
}

#message {
    background-color: yellow;
    background-size: 50%;
    font-weight: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 40%;
}

.button {
    background-color:#97e954;
    width:12;
    height: 12%;
    font-size: large;
}